.custom-slider{
    background-image:  url('https://i.ibb.co/wKFPJwc/slider-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/* Responsive */
@media screen and (max-width: 640px) {
    .custom-slider{
        background-image: linear-gradient(rgba(0, 0, 0, 0.511),rgba(0, 0, 0, 0.511)), url('https://i.ibb.co/wKFPJwc/slider-1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Poppins', sans-serif;
    } 
}