.business-summery{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('https://i.ibb.co/RTj0Q1c/slider3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center;
}